<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
  <%- include('../partials/header', { pageData }) %>
  <%- include('../partials/nav') %>
  <main>
    <h1 class="page-title"><%- title %></h1>
    <div class="messages">
      <%- messages() %>
    </div>
    <%- body %>
  </main>
  <%- include('../partials/footer') %>
</body>

</html>