<!DOCTYPE html>
<html>
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <%- include('../partials/nav') %>
        <main>
          <%- body %>
        </main>
        <%- include('../partials/footer') %>
  </body>

</html>

<style>
  html {
    background-image: url("/images/site/checkerboard.jpg");
  }

  body {
    background: var(--backgroundColor);
    outline: var(--highlightColor) solid 5px;
    border-radius: 10px;
    max-width: 70em;
    margin: 20px auto;
    padding: 1em;
  }
</style>