<h1>
  Welcome to CSE Motors!
</h1>

<div>
  <img src="<%- vehicle.image %>" alt="<%- vehicle.model %>">
  <%- include ("./partials/vehicleFeatures", { vehicle})%>
</div>

<div>
  <%- include("./partials/vehicleUpgrades", {vehicle }) %>
    <%- include ("./partials/vehicleReviews", { vehicle})%>
</div>