<a href="../item/<%- inv_id %>" title="View <%- inv_make %> <%- inv_model %> details">
  <li>
    <div class="img-container">
      <img src="<%- inv_thumbnail %>" alt="Image of <%- inv_make %> <%- inv_model %>" />
    </div>
    <div>
      <hr />
      <h2> <%- inv_make %> <%- inv_model %></h2>
      <span>$<%- new Intl.NumberFormat('en-US').format(inv_price) %></span>
    </div>
  </li>
</a>